<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AngularJS Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="static/js/app.js"></script>
        <!-- Add the controller to this app -->
        <script src="static/js/namesController.js"></script>
    </head>
    <body> 
        
        <div ng-app="myApp" ng-controller="myCtrl">
            <!-- Create a dropdown list based on an ng-model -->
            <select ng-model="selectedName" ng-options="x for x in names">
            </select>
            <br>
            <!-- Altered example from above -->
            <select>
                <option ng-repeat="x in names">[[x]]</option>
            </select>
            <br>
            <!-- Cars example -->
            <select ng-model="selectedCar">
                <option option ng-repeat="x in cars" value="[[x.model]]">[[x.model]]</option>
            </select>
            <br>
            <h1>You selected: [[selectedCar]]</h1>
            <br>
            <!-- Another example -->
            <select ng-model="selectedCar" ng-options="x.model for x in cars">
            </select>
            <h1>You selected: [[selectedCar.model]]</h1>
            <p>Its color is: [[selectedCar.color]]</p>
            <!-- Car example for objects -->
            <select ng-model="selectedCar" ng-options="x for (x, y) in morecars">
            </select>

            <h1>You selected this car: [[selectedCar]]</h1>
            <br>
            <!-- Third object example for cars -->
            <select ng-model="selectedCar2" ng-options="y.brand for (x, y) in moremorecars">
            </select>
            <h1>You selected: [[selectedCar2.brand]]</h1>
            <h2>Model: [[selectedCar2.model]]</h2>
            <h3>Color: [[selectedCar2.color]]</h3>
            <br>
        </div>

        <script>
            
        </script>
    </body>
</html>