<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AngularJS Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="static/js/app.js"></script>
        <script src="static/js/personController.js"></script>
    </head>
    <body> 
        <!-- The 'ng-app' directive defines an Angular JS application. You can define variables with ng-init.
        The Controller controls sections of the AngularJS applicaiton.-->
        <div ng-app="myApp" ng-controller="myCtrl" data-ng-init="firstName='John';myCol='lightblue';person={firstName:'John',lastName:'Doe'};quantity=1;cost=5">
            <!-- ng-model binds the value of HTML controls to the applicaiton data -->
            <p>Name: <input type="text" ng-model="name"></p>
            <!-- 'ng-bind' binds application data to that HTML view -->
            <p ng-bind="name"></p>
            <!-- Here is the binded variable of our application, (Note, this gets changed by the 
            change name function when clicking the h1 button) -->
            <h1 ng-click="changeName()">Click to change first name variable</h1>
            <p>This dude's name from the binding variable is <span data-ng-bind="firstName"></span></p>
            <p>You can also do expressions, like 5 + 5 = [[ 5 + 5 ]]</p>
            <p>Here's another example with Name: <input type="text" ng-model="name"></p>
            <p>TheName is: [[name]]</p>
            <!-- Here is a color example -->
            <input style="background-color:[[myCol]]" ng-model="myCol">
            <!--Nums example -->
            <p>Total in dollar: [[quantity * cost]]</p>
            <p>Or you can use ng-bind: (Total in dollar: <span ng-bind="quantity * cost"></span>)</p>
            <!-- Object example -->
            <p>The name is [[person.lastName]]</p>
            <p>You can do this for a bunch of JS datatype</p>
            <!--ng-model example -->
            <p>Name2: <input ng-model="name2"></p>
            <h1>You entered: [[name2]]
            <!--Validate Data -->
            <form ng-app="" name="myForm">
                <p>Email:</p>
                <input type="email" name="myAddress" ng-model="text">
                <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
            </form>
            <!-- Validate application status -->
            <form ng-app="" name="myForm2" ng-init="myText = 'post@myweb.com'">
                <p>Email:</p>
                <input type="email" name="myAddress" ng-model="myText" required>
                <h1>Status</h1>
                [[myForm2.myAddress.$valid]]
                [[myForm2.myAddress.$dirty]]
                [[myForm2.myAddress.$touched]]
            </form>
            <!-- CSS Classes -->
            <style>
                input.ng-invalid {
                background-color: lightblue;
                }
            </style>
            <body>
            <form ng-app="" name="myForm3">
                Enter your name:
                <input name="myForm3" ng-model="myText2" required>
            </form>
            <!--Example funciton inside controller -->
            <p>Full name from the full name func: [[fullName()]]</p>
        </div>
        <!-- Used for the first example -->
        <script>
            var myApp = angular.module('myApp', []);
            //Set a custom delimiter for templates
            myApp.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            });

            //Test controlller
            myApp.controller('myCtrl', function($scope) {
                $scope.firstName= "John";
                $scope.lastName= "Doe";
                $scope.name = $scope.firstName + " " + $scope.lastName;
                $scope.name2 = "John Coolio";
                //Change Name funciton
                $scope.changeName = function(){
                    $scope.firstName = "Nelly";
                };
                //Full name function
                $scope.fullName = function(){
                    return $scope.firstName + " " + $scope.lastName;
                }
            });
        </script>


    </body>
</html>